spring:
  #配置数据信息源
  datasource:
    dynamic:
      #设置默认的数据源或者数据源组,默认为master
      primary: master
      #严格匹配数据源,默认为false,true为匹配到指定的数据源时抛出异常,false使用默认数据源
      strict: false
      datasource:
        master:
          #配置数据库的链接信息
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://47.113.202.72:3306/mybatis_plus?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false
          username: root
          password: 123456
        slave_1:
          #配置数据库的链接信息
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://47.113.202.72:3306/janice?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false
          username: root
          password: 123456

    #配置数据源类型
    #type: com.zaxxer.hikari.HikariDataSource


#配置mybatis plus的日志
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

  #设置mybatis-plus的全局配置
  global-config:
    db-config:
      #设置实体类所对应表的前缀
      table-prefix: t_
      #设置统一的主键生成策略
      id-type: auto
  #配置类型别名
  type-aliases-package: com.singularity.mybatisplus.pojo
  #扫描通用枚举的包
  type-enums-package: com.singularity.mybatisplus.enums